.b {
    width: 100vw;
    height: 100vh;
    /* background: url("\src\assets\images\fondo_gris.jpg"); */
    background-color: rgb(126, 126, 126);
}

.card-login{
    background-color: aquamarine;
}

.card-message {
    background-color: brown;
}