<app-menu></app-menu>

<div class="container-fluid">
    <div class="row">
        <div class="col-5 m-3 mt-5"> <!-- FORMULARIO DE LOCACION -->
            <div class="card rounded-3">
                <h3 class="display-6 fw-bold text-center mt-4">LOCACION</h3>
                <form class="card-body" [formGroup]="formG" (ngSubmit)="create()" novalidate>
                    <div class="form-floating mb-3"> <!-- NOMBRE -->
                        <input class="form-control mt-3" type="text" formControlName="name" [(ngModel)]="selected.name" id="floatingName" placeholder="Nombre"
                        [class.is-invalid]="validateTextField('name')">
                        <label for="floatingName">Nombre</label>
                        <div *ngIf="validateErrorTextField('name')">
                            <small class="badge alert-danger" *ngIf="formG.get('name').hasError('required')">
                                Este es un campo requerido.
                            </small>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <div *ngIf="updateDisabled">
                            <button class="btn btn-lg btn-outline-dark mt-3 fw-bold">
                                <i class="fas fa-plus-circle"></i> Agregar
                            </button>
                        </div>
                        <div *ngIf="!updateDisabled">
                            <a class="btn btn-lg btn-outline-dark mt-3 fw-bold" (click)="update()">
                                Actualizar <i class="fas fa-pen fa-sm"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col"> <!-- TABLA DE SENSORES -->
            <h1 class="display-1 text-center fw-bold">MIS LOCACIONES</h1>
            <div class="table-responsive rounded-3">
                <table class="table table-light table-hover table-bordered">
                    <thead class="table-dark">
                        <tr class="">
                            <th scope="col">Nombre</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let location of locationArray"
                        class="list-group-item-action"
                        [class.bg-secondary]="location == selected"
                        [class.text.light]="location == selected">
                            <th>{{location.name}}</th>
                            <td class="text-center">
                                <button (click)="showUpdate(location)" class="btn btn-primary">Editar <i class="fas fa-pen fa-sm"></i></button>
                                <button (click)="delete(location)" class="btn btn-danger">Eliminar <i class="fa fa-trash fa-sm"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>