.bg-1, .bg-2, .bg-3 {
    height: 33.3333vh;
}

.cursor { cursor: pointer }

.bg-1 { background-color: #DFDFDF; }
.text-1 { color: #909090;}

.bg-2 { background-color: #AAAAAA; }
.text-2 { color: #666666;}

.bg-3 { background-color: #6B6B6B }
.text-3 { color: #434343;}

img { height: 25vh;}

.img-sensors {
    --s : 15vh;
    width: var(--s)s; height: var(--s);
}

.img-locations {
    --s : 10vh;
    width: var(--s)s; height: var(--s);
    background-color: #434343;
}

.bg-setting { 
    color: #6B6B6B;
    background-color: #434343;}
