<div class="container-fluid">
    <div class="row justify-content-evenly p-5 bg-1 cursor" (click)="goTo('monitoring/cochera')">
        <div class="col-5">
            <h1 class="fw-bold display-2 text-1">MONITOREO</h1>
            <p class="lead fs-4 text-1">Esta sección muestra los reportes en tiempo <br>
            real de lo que sucede en tus habitaciones.</p>
        </div>
        <div class="col-4">
            <img src="assets\images\search_eye.png" alt="lupa" class="rounded float-start">
            <img src="assets\images\monitor_security.png" alt="monitor" class="rounded float-start">
        </div>
    </div>
    <div class="row justify-content-evenly p-5 bg-2 cursor" (click)="goTo('sensors')">
        <div class="col-7">
            <img src="assets\images\camara_seguridad.png" alt="Camara" class="rounded float-start mx-2 mt-5 img-sensors">
            <img src="assets\images\sensor_PIR.png" alt="Sensor PIR" class="rounded float-start mx-2 img-sensors">
            <img src="assets\images\sensor_Proximidad.png" alt="Sensor presencia" class="rounded float-start mx-2 img-sensors">
            <img src="assets\images\sensor_temperature.png" alt="Sensor Tem&Hum" class="rounded float-start mx-2 mt-5 img-sensors">
        </div>
        <div class="col-4">
            <h1 class="fw-bold display-2 text-2">SENSORES</h1>
            <p class="lead fs-4 text-2">En esta sección podrás registrar, editar <br>
                y eliminar los sensores en la app.</p>
        </div>
    </div>
    <div class="row justify-content-evenly p-5 bg-3 cursor" (click)="goTo('locations')">
        <div class="col-5">
            <h1 class="fw-bold display-2 text-3">LOCALIZACIONES</h1>
            <p class="lead fs-4 text-3">En esta sección podrás registrar, editar y eliminar las <br>
                habitaciones donde serán colocados los sensores.</p>
        </div>
        <div class="col">
            <img src="assets\images\bed_room.png" alt="cuarto" class="rounded-circle float-start img-locations">
            <img src="assets\images\garage.png" alt="cochera" class="rounded-circle float-end mt-5 img-locations">
            <img src="assets\images\living_room.png" alt="cocina" class="rounded-circle float-start mt-5 img-locations">
        </div>
        <div class="col-5 text-center">
            <img src="assets\SVG\cog-solid.svg" alt="cocina" class="rounded-circle bg-setting cursor" (click)="goTo('settings')">
        </div>
    </div>
</div>
