<app-menu></app-menu>

<div class="container-fluid">
    <div class="row my-4" *ngIf="btnSensorsInit">
        <div class="col-3 border-end border-dark">
            <div class="sensors_area row justify-content-evenly text-center bg m-1 p-2">
                <div class="col"> <!-- REPORTE DE TEMPERATURA-->
                    <div class="row"> <!-- DATOS-->
                        <div class="col"></div>
                        <div class="col">
                            <span class="ml-4 fs-1 fw-bold text-light">MÁX</span>
                        </div>
                        <div class="col">
                            <span class="ml-4 fs-1 fw-bold text-light">MÍN</span>
                        </div>
                    </div>
                    <div class="row"> <!-- TEMPERATURA-->
                        <div class="col"> <!-- IMAGENES -->
                            <img src="assets\SVG\temperatura.svg" alt="termo" class="image">  
                        </div>
                        <div class="col"> <!-- DATO MÁX-->
                            <span class="ml-4 fs-1 fw-bold text-light">23</span>
                        </div>
                        <div class="col"> <!-- DATO MÍN-->
                            <span class="ml-4 fs-1 fw-bold text-light">18</span>
                        </div>
                    </div>
                    <div class="row"> <!-- HUMEDAD -->
                        <div class="col">
                            <img src="assets\SVG\humidity.svg" alt="termo" class="image">  
                        </div>
                        <div class="col">
                            <span class="ml-4 fs-1 fw-light text-light">5</span>
                        </div>
                        <div class="col">
                            <span class="ml-4 fs-1 fw-light text-light">3</span>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <hr class="bg-light py-1 my-4">
            <div class="sensors_area row justify-content-between text-center bg m-1 p-2">
                <div class="col"> <!-- REPORTE DE PRESENCIA-->
                    <div class="row">
                        <div class="col-1 pt-5"> <!-- IMAGEN-->
                            <img src="assets\SVG\sensor_movimiento.svg" alt="movimiento" class="image">
                        </div>
                        <div class="col"> <!-- DATO-->
                            <span class="ml-4 fs-1 fw-bold text-light">Presencias Registradas</span>
                            <br>
                            <span class="ml-4 fs-1 fw-light text-light">3</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="bg-light py-1 my-4">
            <div class="sensors_area row justify-content-evenly text-center bg m-1 p-2">
                <div class="col">
                    <span class="ml-4 fs-1 fw-bold text-light">Tiempo Activo</span>
                    <br>
                    <span class="ml-4 fs-1 fw-light text-light">7:44 hrs</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="cam-area text-light text-center">
                <img src="assets\images\Backgrounds\fondo_cochera_web.jpg" class="card-img-top border border-5 rounded-3" alt="Locacion" style="width: 72%;">
            </div>
            <div class="sensors_area row justify-content-evenly text-center bg m-1 p-2">
                <div class="col border-start border-end border-light">
                    <img src="assets\SVG\temperatura.svg" alt="termo" class="image">  
                    <span class="ml-4 fs-1 fw-bold text-light">23</span>
                    <br>
                    <img src="assets\SVG\humidity.svg" alt="termo" class="image">  
                    <span class="ml-4 fs-1 fw-light text-light">3</span>
                </div>
                <div class="col border-end border-light">
                    <img src="assets\SVG\sensor_movimiento.svg" alt="movimiento" class="image"> <br>
                    <span class="ml-4 fs-1 fw-bold text-light">Área Segura</span>
                </div>
                <div class="col border-end border-light">
                    <img src="assets\SVG\sensor_proximidad_cinta_metrica.svg" alt="movimiento" class="image"> <br>
                    <span class="ml-4 fs-1 fw-bold text-light">5.00 mts</span>
                </div>
            </div>
        </div>
    </div>
    <div center *ngIf="!btnSensorsInit">
        <button class="btn btn-outline-light btn-lg fw-bold btn-init rounded-pill" (click)="sensorsInit()">
            INICIAR SENSORES
        </button>
    </div>
</div>