<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-sm-top ancho" >
  <div class="container-fluid">
    <a class="navbar-brand">| <span class="fw-lighter">Segurid</span><span class="fw-bold">App</span> |</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div *ngIf="sessionInit">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink='' routerLinkActive='active'>
              <!-- <a class="nav-link" routerLink='/monitoring/{{location.name}}' routerLinkActive='active'> -->
            Monitoreo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/settings' routerLinkActive='active'>
              <!-- <a class="nav-link" routerLink='/monitoring/{{location.name}}' routerLinkActive='active'> -->
            Ajustes</a>
          </li>
        </ul>
      </div>
      <div class="d-flex ms-auto" *ngIf="sessionInit">
        <div class="text-light fw-light fst-italic mx-2">{{username}}</div>
        <!-- <div class="text-light fw-light fst-italic mx-2">{{username}}</div> -->
        <button class="btn btn-outline-danger" aria-current="page" (click)='logout()'>
        Logout</button>
      </div>
      
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" id="ir" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" routerLink='' routerLinkActive='active'>Search</button>
      </form> -->
    </div>
  </div>
</nav>
